<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title></title>
    <script src="../../Scripts/jquery-1.9.1.js" type="text/javascript"></script>

    <link href="../../Content/Office.css" rel="stylesheet" type="text/css" />
    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script>

    <!-- To enable offline debugging using a local reference to Office.js, use:                        -->
    <!-- <script src="../../Scripts/Office/MicrosoftAjax.js" type="text/javascript"></script>  -->
    <!-- <script src="../../Scripts/Office/1/office.js" type="text/javascript"></script>  -->
    <script src="../../Scripts/jquery-1.9.1.min.js"></script>  
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.min.css">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css">
    <script src="../../Scripts/angular.min.js"></script>
    <script src="../../Scripts/angular-route.min.js"></script>
    <link href="../App.css" rel="stylesheet" type="text/css" />
    <script src="../App.js" type="text/javascript"></script>   
    <link href="Home.css" rel="stylesheet" type="text/css" />
    <script src="Home.js" type="text/javascript"></script>
    <script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.8/js/adal.min.js"></script>
    <script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.8/js/adal-angular.min.js"></script>
    
    <style>
        #content-header {
            background-image:url(../../Images/../../Images/lolologo.png);
            background-repeat:no-repeat;
            background-position-x:right;
            background-size:79px;
        }
        h4 {
            margin-bottom:0px;
        }
    </style>
 <base href="/App/Home/Home.html" />
</head>
<body ng-app="myapp" ng-controller="Ctrl">
    <div id="content-header">
        <div class="padding">
          <h1>Point Taken Arms</h1>
            <p style="margin-top:-15px;">Superhero Hangout</p>
        </div>
    </div>
    <div id="content-main">
        <a href="#/new">Testing</a>
        <div class="padding">
            <button ng-click="Login()"><i class="ms-Icon ms-Icon--lock" style="font-size:small" ></i>Log in</button>

            <div class="BarStatus">
                <label>Bar status:</label><span>{{ BarOpen ? "Open" : "Closed" }}</span>
                <button><i class="ms-Icon ms-Icon--lock" style="font-size:small"></i>{{BarOpen ? "Close" : "Open"}}</button>
            </div>
            <div class="News">
                <h3>Breaking News</h3>
                <p>{{ LatestNews.Text }}</p>
            </div>
            {{ Status ? "AUTH" : " NOAUTH"}}
            <div class="Management">
                <h3>Realtime data:</h3>
                <ul>
                    <li>Beers served: {{ BarInfo.SoldTonight}} (Yesterday: {{ BarInfo.SoldLastNight }})</li>
                    <li>Patrons: {{ BarInfo.PatronsActive }}</li>
                    <li>Money earned: ${{ BarInfo.MoneyEarnt }}</li>
                    <li>MoneySpent: ${{BarInfo.MoneySpent}}</li>
                    <li>Happy hour: {{ BarInfo.HappyHour ? "Yes" : "No"}}</li>
                </ul>
                <h4>Happy Hour</h4>
                <button><i class="ms-Icon ms-Icon--lock" style="font-size:small" ng-click="ActivateHappyHour()"></i>{{BarInfo.HappyHour ? "Stop" : "Start"}}</button>
                <br/>
                <h4>Serving:</h4>
                <button><i class="ms-Icon ms-Icon--lock" style="font-size:small"></i>{{BarInfo.ServingStopped ? "Start serving" : "Stop serving"}}</button>
                <br/>
                <h4>Add data</h4><br/>
                <button><i class="ms-Icon ms-Icon--arrowLeft" style="font-size:small"></i>Add data to document</button>
                <br/>
                <h4>Auto-management-mode</h4><br />
                <button><i class="ms-Icon ms-Icon--refresh" style="font-size:small"></i>{{ AutoManagementActive ? "Stop" : "Start"}}</button>
            </div>
           
        </div>
    </div>
   
</body>
</html>
