body {
    text-align: center;
}

.nav-pills>li a {
    border-radius: 0 !important;
}

.nav-pills>li:nth-child(2)>a {
    background-color: #23CEAC;
}

.nav-pills>li:nth-child(3)>a {
    background-color: #65DAC3;
}

.nav-pills>li:active {
    background-color: #34495e;
}

.beerImg img {
    max-height: 200px;
    padding: .5em;
}

.centerText {
    margin-top: 1em;
}

.centerText p {
    font-size: 1.6em;
    padding: .5em;
}

#orderButton {
    background-color: #ec7063;
    height: 140px;
    border-radius: 200px;
    margin-top: 1rem;
}

#order {
    background-color: #3498db;
}

#order a {
    color: #fff;
}

#backButton a {
    color: #fff;
}


#barButton {
    background-color: #e74c3c;
    margin: 1em;
}

#barButton a {
    color: #fff;
}

.barImg img {
    max-width: 38%;
    margin-top: 20px;
}

ul.nav.nav-list.nav-list-bricks {
    text-align: left;
}

.nav-list-bricks>li {
    z-index: -1;
}

.infoBar {
    background-color: #65DAC3;
}

.nav-list>li {
    text-align: left;
}
